<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="common :: headerFragment">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="../../css/webapp.css" th:href="@{/css/webapp.css}" />
	</head>	
	<body>
		<div class="container-fluid">
			<h2 id="title" th:text="${user.id} ? #{user.edit.title} : #{user.create.title}" >Edit User</h2>
			<div>
				 <form id="userForm" th:action="${user.id} ? @{/users/__${user.id}__} : @{/users}" th:object="${user}" method="post">
				 	<fieldset>				 		
				 		<input id="method" type="hidden" name="_method" th:value="*{id} ? 'POST' : 'PUT'"/> 
				 		<input id="userId" type="hidden" th:field="*{id}" />				 		
				 		<div>
				         	<label th:text="#{user.username}">Username</label>
				            <input id="username" type="text" th:field="*{username}" required="required" th:readonly="*{username} ? 'readonly'"/>
			         	</div>
				 		<div>
				         	<label th:text="#{user.name}">First Name</label>
				            <input type="text" th:field="*{name}" />
			         	</div>
			         	<div>
				         	<label th:text="#{user.surname}">Surname</label>
				            <input type="text" th:field="*{surname}" />
			         	</div>
			         	<div>
				         	<label th:text="#{user.enabled}">Enabled</label>
				            <input type="checkbox" th:field="*{enabled}" />
			         	</div>
			         	<br/>			         	
			         	<div>
            				<button class="btn btn-primary" type="submit" th:text="#{user.save.title}" >Save User</button>  
            				<button id="deleteBtn" class="btn btn-danger" type="submit" th:text="#{user.delete.title}" onclick="$('#method').val('DELETE')" th:disabled="not *{id} ? 'disabled'">Delete User</button>   
          				</div>
				 	</fieldset>
				 </form>	
			</div> 
			
			<div th:include="common :: [//footer]"></div>
		</div>
	</body>
</html>